{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastroAtividade.css' %}">

    <title>Programação Web Back End</title>
</head>
<body>
    <div class="adm">
        <h1>Ola Professor(a)</h1>
        <button class="sair">Sair do Sistema</button>
    </div>

    

    <div class="turmas">
        
        <form action="/cadastrar_atividade" method="post">
            <h1>Adicionar atividades</h1>
            <label for="">Número da atividade: </label>
            <input id="item" type="text" name="codigo-atividade">

            <label for="text">Descrição: </label>
            <input id="item" type="text" name="descricao">
            <div class="botao">
                <button id="enviar">Cadastrar</button>
            </div>
        </form>
    </div>

    <div class="error-message">
        <!--Mensagem de erro inserida aqui-->
    </div>
</body>
</html>