{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <title>Programação Web Back End</title>
</head>
<body>
    <div class="formulario">
        <div class="text">
            <div class="error-message">
                <!-- Mensagem de erro será inserida aqui -->
            </div>
            <form action="/enviar_login" method="post">
                <p class="title">LOGIN</p>   
                <label for="email">E-mail: </label>
                <input id="item" type="text" name="email" placeholder="Insira seu E-mail">
                <!-- <input type="email" placeholder="Informe seu nome"> -->
                <label for="password">Senha: </label>
                <input id="item" type="password" name="senha" placeholder="Insira sua senha">
                <!-- <input type="password" placeholder="Informe seu e-mail"> -->
                <div class="botao">
                    <button id="enviar">Enviar</button> 
                </div>
            </form>

            <div class="error-message">
				<!--Mensagem de erro inserida aqui-->
			</div>
        </div>
    </div>
</body>
</html>