{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/turmaAtividade.css' %}">
    <script src="https://kit.fontawesome.com/853fc98f91.js" crossorigin="anonymous"></script>
    <title>Lista de Turmas do professor</title>
</head>

    <header>
        <nav>
            <div class="nav-bar">
                <h1>Bem vindo(a) professor: {{usuario_logado}}</h1>
                <button><a href="{%url 'sair'%}" style="color: #fff;">SAIR</a></button>
            </div>
        </nav>
    </header>

<body onLoad="login();">
    <main>
        {% if messages %}
            <ul class="mensagem_do_servidor" style="padding: 24px; text-align:center; color: black;">
                {% for mensagem in messages %}
                   <li style="list-style: none;" {% if mensagem.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{mensagem}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <input type="hidden" name="id_logado" id="id_logado" value="{{id_logado}}"/>
        <input type="hidden" name="nome_logado" id="nome_logado" value="{{usuario_logado}}">


        <div class="tabela">
            <table>

                <tr>
                    <th>Numero</th>
                    <th>Atividade</th>
                    <th>Arquivo</th>
                </tr>


                {% for atividade in atividades %}
                <tr>
                    <td>{{ atividade.id }}</td>
                    <td>{{ atividade.nome_atividade }}</td>
                    <td>
                        {% if atividade.arquivo %}
                            {% comment %} <a href={{atividade.arquivo}}><i class="fa-regular fa-file-lines"></i></a> {% endcomment %}
                            <a href="../../{{atividade.arquivo}}">Arquivo</a>
                        {% else %}
                            <p>Não existe arquivos anexados</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>

        <form method="POST" action="{% url 'cad_atividade' id_turma=id_turma%}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="enviar_atividade">
                <p>Cadastrar a atividade referente a sua turma</p>
                <input style="height: 30px; width: 400px; margin-top: 20px; border-radius: 5px;" type="text" id="descricao" name="descricao"/>
                <input type="hidden" name="id_turma" id="id_turma" value="{{id_turma}}"/>
                <input type="hidden" name="id_logado" id="id_logado" value="{{id_logado}}"/>
                <input style="margin-top: 15px;" type="file" name="arquivo" id="arquivo" value="Caminho do arquivo"/>

                <div class="botoes">
                    <div class="botao_confirmar" >
                        <button type="submit" class="btn_conf">Cadastrar</button>
                    </div>
                </div>
            </div>
        </form> 

    </main>
</body>
</html>